@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&display=swap');
/* Add to all CSS files */
* {
  box-sizing: border-box;
}
/* Background image of the page */
body {
  background-image: url("images/white-waves.png");
}

/* Styling the elements */

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 36px;
  margin-bottom: .5em;
  padding-bottom: 0px;
  letter-spacing: 1.5px;
}

p, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

h2 {
  margin-top: 0;
  padding-top: 0;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
  text-align: center;
}

hr {
  width: 50%;
}

ul {
  list-style-type: circle;
}

ol, ul {
  padding: 8px;
  margin: 6px;
  display: inline-block;
  text-align: left;
  width: 500px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

img {
  margin: 20px 0;
}

/* Styling the div classes */

.about-me {
  padding: 5px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.contact-me, .intro {
  background-color: #0033A0;
  color: white;
  padding: 5px;
  text-align: center;
  margin: auto;
}

.project-section {
  padding: 5px;
  text-align: center;
  margin: 25px 0;
  font-style: italic;
}

.portfolio-links{
  background-image: url("images/gray_sand.png");
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-align {
  text-align: left;
}

/* Set footer link colors */
a:link {color: white;}
a:visited {color: white;}
a:hover {color: white;}
a:active {color: white;}
